*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

form{
    position: relative;
    top: 100px;
    left: 500px;
    border: 1px solid #000;
    width: 400px;
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 19px;
}

tr{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

td{
    padding: 20px 5px 20px 20px;
}

input{
    padding: 5px;
}